{% extends 'default.html.twig' %}

{% block title %} JStore | Checkout Page {% endblock %}


{% block stylesheets %}  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/assets/css/stripe.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://js.stripe.com/v3/"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


{% endblock %}

{% block body %}
<div class="main_content" data-cart="{{ cart_json }}" data-public_key="{{ public_key }}" data-orderId="{{ orderId }}" id="order-data">
    <div class="section">
        <div class="container">
            <div class="row">
                <!-- Your other HTML content can go here -->
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="heading_s1">
                        <h4>Billing Addresses</h4>
                        <select id="billing_address" name="billing_address" class="form-control">
                            <option>----Choose billing address----</option>
                            {% for address in addresses %}
                                <option value="{{ address.name }}">
                                    {{ address.name }} ({{ address.street }} {{ address.codePostal }} {{ address.city }} {{ address.state }})
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="heading_s1">
                        <h4>Shipping Addresses</h4>
                        <select id="shipping_address" name="shipping_address" class="form-control">
                            <option>----Choose shipping address----</option>
                            {% for address in addresses %}
                                <option value="{{ address.clientName }}">
                                    {{ address.clientName }} ({{ address.street }} {{ address.codePostal }} {{ address.city }} {{ address.state }})
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="heading_s1">
                        <h4>Comments</h4>
                        <textarea id="comment" class="form-control" name="comment" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="order_review">
                        <div class="heading_s1">
                            <h4>Your Orders</h4>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th> Product</th>
                                     
                                         <th>Total</th>
                                         <th  class="product-remove">Remove</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in cart.items %}
                                        <tr>
                                            <td>
                                                <img src="assets/images/products/{{ item.product.imageUrls[0] }}" alt="" width="30" height="30">

                                                {{ item.product.name }}

                                                <span class="product-qty">{{ item.quantity }}
                                                <span class="product-price">x {{ (item.product.soldePrice / 100) | format_currency('EUR') }}</span>
                                            </td>
                                            <td>{{ (item.product.soldePrice * item.quantity / 100) | format_currency('EUR') }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>SubTotal</th>
                                        <td class="product-subtotal">{{ (cart.sub_total / 100) | format_currency('EUR') }}</td>
                                    </tr>
                                    <tr>
                                        <th>Shipping</th>
                                        <td>{{ (cart.carrier.price / 100) | format_currency('EUR') }}</td>
                                    </tr>
                                    <tr>
                                        <th>Total</th>
                                        <td class="product-subtotal">{{ (cart.sub_total_with_carrier / 100) | format_currency('EUR') }}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        <div class="payment_method">

                        </div>

                        <div class="payment-button d-none">
                            <a href="#" id="pay-now-button" class="btn btn-fill-out btn-block" data-bs-toggle="modal" data-bs-target="#exampleModal" >
                                Pay now ({{ (cart.sub_total / 100) | format_currency('EUR') }})
                            </a>

                        </div>
                        <br><br><br><br><br>
                        
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                    
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="stripe_methods"></div>
                <div id="paypal_methods"></div>

                <form id="payment-form">
                    <div id="payment-element">
                        <!--Stripe.js injects the Payment Element-->
                    </div>
                    <button id="submit">
                        <div class="spinner hidden" id="spinner"></div>
                        <span id="button-text">Pay now</span>
                    </button>
                    <div id="payment-message" class="testclass"></div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            // When the modal is completely hidden
            $('#exampleModal').on('hidden.bs.modal', function () {
                // Reset or refresh the "Pay now" button
                $('#pay-now-button').removeClass('d-none'); 
               
            });
        });
    </script>
{% endblock %}
