{% extends 'base.html.twig' %}

{% block title %} JStore | Checkout Page {% endblock %}

{% block body %}

<div  class="main_content">
    <div  class="section">
        <div  class="container">
            <div  class="row">
                <!-- div  class="col-lg-6">
                    <div  class="toggle_info"><span ><i
                                 class="fas fa-user"></i>Returning customer? <a
                                 href="#loginform" data-bs-toggle="collapse"
                                aria-expanded="false" class="collapsed">Click here to login</a></span></div>
                    <div  id="loginform" class="panel-collapse collapse login_form">
                        <div  class="panel-body">
                            <p >If you have shopped with us before, please enter your
                                details below. If you are a new customer, please proceed to the Billing &amp;
                                Shipping section.</p>
                            <form  novalidate="" method="post"
                                class="ng-untouched ng-pristine ng-valid">
                                <div  class="form-group mb-3"><input
                                         type="text" required="" name="email"
                                        placeholder="Username Or Email" class="form-control"></div>
                                <div  class="form-group mb-3"><input
                                         required="" type="password" name="password"
                                        placeholder="Password" class="form-control"></div>
                                <div  class="login_footer form-group mb-3">
                                    <div  class="chek-form">
                                        <div  class="custome-checkbox"><input
                                                 type="checkbox" name="checkbox" id="remember"
                                                value="" class="form-check-input"><label 
                                                for="remember" class="form-check-label"><span
                                                    >Remember
                                                    me</span></label></div>
                                    </div>
                                </div>
                                <div  class="form-group mb-3"><button
                                         type="submit" name="login"
                                        class="btn btn-fill-out btn-block">Log in</button></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div  class="col-lg-6">
                    <div  class="toggle_info"><span ><i
                                 class="fas fa-tag"></i>Have a coupon? <a
                                 href="#coupon" data-bs-toggle="collapse"
                                aria-expanded="false" class="collapsed">Click here to enter your code</a></span>
                    </div>
                    <div  id="coupon" class="panel-collapse collapse coupon_form">
                        <div  class="panel-body">
                            <p >If you have a coupon code, please apply it below.</p>
                            <div  class="coupon field_form input-group"><input
                                     type="text" value="" placeholder="Enter Coupon Code.."
                                    class="form-control">
                                <div  class="input-group-append"><button
                                         type="submit" class="btn btn-fill-out btn-sm">Apply
                                        Coupon</button></div>
                            </div>
                        </div>
                    </div>
                </div-->
            </div>
            <div  class="row">
                <!--div  class="col-12">
                    <div  class="medium_divider"></div>
                    <div  class="divider center_icon"><i 
                            class="linearicons-credit-card"></i></div>
                    <div  class="medium_divider"></div-->
                </div>
            </div>
            <div  class="row">
                <div  class="col-md-6">
                    <div  class="heading_s1">
                        <h4 >Billing Addresses</h4>
                        <select id="" name="billing_address" class="form-control">
                           <option>----Choose billing addresse----</option>
                        {%for address in addresses%}
                            <option value=""> {{address.name}}</option>
                                ({{address.street}}
                                {{address.codePostal}}
                                {{address.city}}
                                {{address.state}})
                            </option>

                        {%endfor%}
                        </select>
                    </div>
                    <div  class="heading_s1">
                        <h4 >Shipping Addresses</h4>
                        <select id="" name="shipping_address" class="form-control">
                           <option>----Choose Shipping addresse----</option>

                         {%for address in addresses%}
                            <option value="" > {{address.clientName}}</option>
                                ({{address.street}}
                                {{address.codePostal}}
                                {{address.city}}
                                {{address.state}})
                            </option>
                         {%endfor%}
                        </select>

                    </div>

                    <div  class="heading_s1">
                        <h4 >Comments</h4>
                        <textarea id="" class="form-control" name="comment" cols="30" rows="10"></textarea>
                       

                    </div>
                
                </div>
                <div  class="col-md-6">
                    <div  class="order_review">
                        <div  class="heading_s1">
                            <h4 >Your Orders</h4>
                        </div>
                        <div  class="table-responsive order_table">
                            <table  class="table">
                                <thead >
                                    <tr >
                                        <th >Product</th>
                                        <th >Total</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    {% for item in cart.items %}
                                    <tr>
                                        <td>
                                         <img  src="assets/images/products/{{item.product.imageUrls[0]}}" alt="" width="30" height="30">
                                           {{item.product.name}} 
                                           <span class="product-qty"> {{item.quantity}}</span>
                                           <span class="product-price">x {{(item.product.soldePrice / 100) | format_currency('EUR')}}</span>
                                        </td>
                                        <td >{{ (item.product.soldePrice * item.quantity /100) |format_currency('EUR') }}</td>
                                    </tr>
                                    {% endfor  %}

                                </tbody>
                                <tfoot >
                              
                                    <tr >
                                        <th >SubTotal</th>
                                        <td  class="product-subtotal">{{ (cart.sub_total/100) |format_currency('EUR') }}</td>
                                    </tr>
                                    <tr >
                                        <th >Shipping</th>
                                        <td >Free Shipping</td>
                                    </tr>
                                    <tr >
                                        <th >Total</th>
                                        <td  class="product-subtotal">{{ (cart.sub_total/100) |format_currency('EUR') }}</td>
                                    </tr>
                                      
                                </tfoot>
                            </table>
                        </div>
                        <div  class="payment_method">
                    
                        </div>
                        <div class="payment-button d-none" >
                           <a  href="#" class="btn btn-fill-out btn-block">Pay now
                              {{ (cart.sub_total/100) |format_currency('EUR') }}
                            
                            </a>
                        </div>
                        {#
                        
                           

                            #}
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript%}
<script>
let billing_address = ""
let shipping_address =""
let comments = ""
let displayPayBtn = false
const billing_address_select = document.querySelect('select[name="billing_address"]')
const shipping_address_select = document.querySelect('select[name="shipping_address"]')
const comments_textearea = document.querySelect('textarea')
const payBtn = document.querySelect('.payment-button')

displayPayBtn ? payBtn.classList.remove("d-none") : payBtn.classList.remove("d-none")

const updateButton =  () =>{

        displayPayBtn =  ( !! billing_address) &&  ( !! shipping_address)
         console.log({billing_address , shipping_address ,comments });
        console.log({displayPayBtn});
}

billing_address_select.onchange = (event)=>{
    billing_address =event.target.value
    updateButton()

}
shipping_address_select.onchange = (event)=>{
    shipping_address =event.target.value
    updateButton()
}

comments_textearea.onchange = (event)=>{
    comments =event.target.value
    updateButton()
}  


</script>
{% endblock %}
