{% extends 'base.html.twig' %}

{% block title %}Address{% endblock %}

{% block body %}
    <h1>Address</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ address.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ address.name }}</td>
            </tr>
            <tr>
                <th>Client_name</th>
                <td>{{ address.clientName }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ address.street }}</td>
            </tr>
            <tr>
                <th>Code_postal</th>
                <td>{{ address.codePostal }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ address.city }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ address.state }}</td>
            </tr>
            <tr>
                <th>More_details</th>
                <td>{{ address.moreDetails }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ address.updatedAt ? address.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ address.createdAt ? address.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_address_index') }}">back to list</a>

    <a href="{{ path('app_address_edit', {'id': address.id}) }}">edit</a>

    {{ include('address/_delete_form.html.twig') }}
{% endblock %}
